/*Contenido de archivo styles.css*/

body {
    background-color: #121212; /* Cambiar color de fondo del cuerpo */
    color: #fff; /* Cambiar color del texto a blanco */
    font-family: 'Roboto', sans-serif; /* Usar una fuente moderna */
}

#container {
    display: flex;
    justify-content: space-between;
}


#videoContainer {
    width: 50%;
    padding: 20px;
    border: 2px solid #00ff00; /* Cambiar el color del borde a verde brillante */
    border-radius: 10px; /* Añadir bordes redondeados */
    height: 520px; /* Modifica la altura del contenedor del video */
}

#detectionControls {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#detectionResult {
    width: calc(50% - 5px);
    padding: 20px;
    border: 2px solid #555; /* Cambiar el color del borde a gris oscuro */
    border-radius: 10px; /* Añadir bordes redondeados */
    background-color: #ccc; /* Cambiar el color de fondo a gris claro */
    filter: grayscale(100%); /* Convertir a escala de grises */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    width: auto; /* Cambiado de 100% a auto para que el ancho se ajuste al contenido */
    height: 50px; /* Aumentar la altura del botón */
    background: #666; /* Cambiar color de fondo del botón a gris oscuro */
    color: #fff;
    font-size: 20px; /* Aumentar el tamaño del texto */
    font-weight: bold;
    border: none; /* Eliminar el borde del botón */
    border-radius: 10px; /* Añadir bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s; /* Agregar transición al cambio de color de fondo */
    display: flex; /* Usar flexbox */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}



button:hover {
    background: #444; /* Cambiar el color de fondo al pasar el cursor */
}

#message {
    padding: 10px;
    background-color: #1a1a1a; /* Cambiar el color de fondo a un tono oscuro */
    border: 2px solid #00ff00; /* Cambiar el color del borde a verde brillante */
    border-radius: 15px; /* Aumentar el radio de los bordes */
    box-shadow: 0 8px 16px rgba(0, 255, 0, 0.3); /* Agregar una sombra sutil */
    font-size: 28px; /* Aumentar el tamaño del texto */
}

#moodStatus {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px; /* Aumentar el espaciado interior */
    border-radius: 10px;
    font-size: 20px; /* Aumentar el tamaño del texto */
}

#copyright {
    background-color: #000; /* Cambiar color de fondo del banner */
    color: #999; /* Cambiar color del texto */
    text-align: center;
    padding: 20px 0; /* Aumentar el espaciado interior */
    font-size: 16px; /* Reducir el tamaño del texto */
}

#chat-container {
    position: absolute;
    bottom: 20px;
    right: 750px;
    width: 500px;
    height: 540px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 20px;
    background-color: #333333d4; /* Fondo gris oscuro */
    overflow-y: auto;
    display: none;
}

#chat-container.show {
    display: block;
}

#chat-messages {
    height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.chat-input textarea {
    width: calc(100% - 100px);
    height: 80px;
    resize: none;
    padding: 48px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}

.chat-input button {
    width: 80px;
    height: 40px;
    background-color: #007bff; /* Fondo azul brillante */
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #0056b3; /* Fondo azul más oscuro al pasar el cursor */
}

#chatButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #007bff; /* Fondo azul brillante */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición */
}

#chatButton:hover {
    background-color: #0056b3; /* Fondo azul más oscuro al pasar el cursor */
}

#emotion-video-container {
    width: 100%; /* Cambiar el tamaño del contenedor al 80% del ancho del padre */
    max-height: 400px; /* Establecer una altura máxima para evitar que el contenido se desborde */
    overflow: auto; /* Agregar desplazamiento vertical si el contenido excede la altura máxima */
    padding: 20px;
    border: 2px solid #555; /* Cambiar el color del borde a gris oscuro */
    border-radius: 10px; /* Añadir bordes redondeados */
    background-color: #ccc; /* Cambiar el color de fondo a gris claro */
    filter: grayscale(100%); /* Convertir a escala de grises */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#emotion-video-container input, #emotion-video-container button {
    width: 100%;
    margin-bottom: 10px;
}

#emotion-video-container iframe {
    width: 100%;
    height: 315px;
    border-radius: 10px; /* Añadir bordes redondeados */
}
